
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
  max-width: 1300px;
  margin: auto;
  /* padding: 20px 30px; */
}

.navbar{
    display: flex;
    align-items: center;
    
}
.logo{
    font-size: 35px;
}
.logo span{
  color: tomato;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
    transition: all 0.5s ease-in-out
   
} 
nav ul li{
    display: inline-block;
    font-size: 20px;
    margin: 0px 13px;
   
} 
nav ul li a{
   text-decoration: none;
   padding: 5px 8px;
   color: tomato;
   
} 
.toggle{
    width: 40px;
    display: none;
}

 
@media(max-width:800px){
    nav{
       
        text-align: left;
    }
    nav ul{
        
        display: block;
        position: absolute;
        top: 70px;
        left: 0px;
        width: 100%;
        background-color: grey;
        overflow: hidden;
     
       
    } 
    nav ul li{
        display: block;
      
       
    } 
    .toggle{
       display: block;
    }
    .toggle i{
       font-size: 30px;
    }
}


/* HERO SECTION  */
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.col-6{
    flex-basis: 50%;
}

/* left-hero */
.left-hero button {
    background-color: tomato;
    font-size: 22px;
    padding: 10PX 15px;
    border: none;
    border-radius: 15px;
}
.left-hero button:hover{
cursor: pointer;
background-color: rgb(38, 108, 212);

}

.profile img{
    width: 80%;
}
@media(max-width:400px){
    .profile img{
        width: 100%;
    }
}
.basic_info span{
    padding: 8px 0px;
    margin: 4px 0px
}

.temp{
    background: url(./images/aditya.jpg);
    /* height: 100vh;
    width: 100%; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-clip: border-box;
    /* width: 100%; */
}



/* hero  */
.hero{
    background: url(./images/bg1.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    height: 92vh;
    width: 100%;
}  
.t{
    margin: 50px 0px;
    padding: 70px 0px;
}
.t h1{
   font-size: 5rem;
}
.t p{
   font-size: 3rem;
   margin: 30px 0px ;
}

/* letter box  */
.box{
    transition: all 0.9s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px 15px;
}
.box:hover  {
    background-color: rgb(37 208 217);
    transform:scale(1.01)
}
.box-logo {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
   
    transition: all 0.5s ease-in-out;
   
    /* background-color: red; */
}
.box:hover .box-logo  {
   cursor: pointer;
   background-color: red;
   
    border-radius: 70%;
   /* border-radius: 0%; */
}

.box-logo i{
    
  font-size: 50px;

 
}
.box-info p{
    margin: 20px 0px ;
    padding: 8px 3px;
  text-align: center;
}
.box-info h4{
   font-size: 2rem;
   text-align: center;
}